parameters:
  paths:
    - web/profiles/custom/os2loop
  level: 0
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
        -
            message: '#\Drupal calls should be avoided in classes, use dependency injection instead#'